<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cricwordzz</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="stylesheet" href="css/utils.css" />
    <link rel="stylesheet" href="/css/posts.css" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <style>
      .login-user {
        color: white;
      }
    </style>
  </head>

  <body>
    <section class="main-banner">
      <nav class="navigation max-width-3 m-auto">
        <div class="nav-left">
          <span><a href="home">cricwordzz</a></span>
        </div>
        <% if (loginUserId) { %>
        <h2 class="login-user">Hi welcome <%= loginUserId %></h2>
        <% } %> <% if (!loginUserId) { %>
        <div class="nav-right">
          <ul>
            <li><a href="register">Register</a></li>
          </ul>
        </div>
        <div class="nav-right">
          <ul>
            <li><a href="login">login</a></li>
          </ul>
        </div>
        <% } %>
      </nav>
    </section>
  </body>
</html>
